<!-- Added Rohini Ambhore for Freez header of table -->
<style type="text/css">
table {
  text-align: left;
  position: relative;
  border-collapse: collapse; 
  width: 1000px;
}
th, td {
  padding: 0.25rem;
}
tr.red th {
  background: red;
  color: white;
}
tr.green th {
  background: green;
  color: white;
}
tr.purple th {
  background: purple;
  color: white;
}
th {
  background: white;
  width:1000px;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
.dynamicstructurescroll{
	max-height:350px;
	/* overflow:auto; */
	scrollbar-width: thin;
}

.select2-container-multi .select2-choices {
    min-height: 81px;
    scrollbar-width: thin;
}
</style>